/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2017, 11:11:37 AM
    Author     : DataVision_Web
*/
.module_checkbox{
  background-color: #005983;  
}
.module_name{
    width: 582px; 
    font-size: large;
}
.form_table{
    width: 610px;
}
.form_table_heade1{
    background-color: #0066cc;
}
.form_table_heade2{
    background-color: #00a157;
}
.form_table_th{
    text-align: center;
}
.form_table_tr{
    background-color: #23adc2;
}
.form_table_td{
    text-align: center;
}