<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="footer">
		<div class="footer-artwork" id="footer-artwork">&nbsp;</div>
		<div class="footer-wrapper full-width" id="footer-wrapper">
			<div class="footer-credit_" id="footer_">
				<p align="center" style="padding: 20px 0;">Copyright &copy; 2019
					Masum Goni Taposh</p>
				<p align="center">
					Technical Support:<a href="http://automationservicesbd.com" >automationservicesbd.com</a>
				</p>
			</div>
			<!-- /footer -->
		</div>
	</th:block>
</body>
</html>